/*Maak hier jouw CSS!*/

.item {
    background-color: crimson;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}


.item-a {
    grid-area: a;


}

.item-b {
    grid-area: b;
}

.item-c {
    grid-area: c;
}

.item-d {
    grid-area: d;
}

.item-e {
    grid-area: e;
}

.item-f {
    grid-area: f;
}


div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
    grid-gap: 16px;
    grid-template-areas:
       "a"
       "b"
       "c"
       "d"
       "e"
       "."
       "f";
}
@media screen and (min-width: 1200px) {
div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 174px 100px auto 50px;
    grid-gap: 16px;
    grid-template-areas:
       "a c c"
       "b c c"
       "b e d"
       "b e ."
       "f f f";
}

}



